<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<table border="1" style="width:100%" class="table table-dark">
    <thead>
      <tr>
        <th>Smartphone</th>
        <th>Display</th>
        <th>Camera</th>
        <th>Battery Life</th>
        <th>Storage and Type</th>
        <th>Charging</th>
        <th>Processor</th>
        <th>Connectivity</th>
        <th>Display Bit</th>
        <th>HDR, Widevine L1,Doblby Vision</th>
        <th>Android Version</th>
        <th>Update policy</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pixel 7Pro</td>
        <td>Super AMOLED, 6.5 inches, 120Hz</td>
        <td>48 MP + 12 MP + 5 MP</td>
        <td>4000 mAh</td>
        <td>128 GB,UFS 3.1</td>
        <td>30Watt</td>
        <td>Tensor G2</td>
        <td>BT v5.2 Wifi 6.0</td>
        <td>8</td>
        <td>Yes,Yes,No</td>
        <td>13</td>
        <td>3 android version + 4 years of security patch</td>
        <td>₹68,990</td>
      </tr>
      <tr>
        <td>Pixel 7</td>
        <td>OLED, 6.4 inches, 90Hz</td>
        <td>64 MP + 8 MP + 2 MP</td>
        <td class="highlight">5000 mAh</td>
        <td>256 GB,UFS 3.0</td>
        <td>30Watt</td>
        <td>Tensor G2</td>
        <td>BT v5.1 Wifi 5.0</td>
        <td>8</td>
        <td>Yes,Yes,No</td>
        <td>13</td>
        <td>3 android version + 4 years of security patch</td>
        <td>₹45,999</td>
      </tr>
      <tr>
        <td>Samsung S23 Ultra</td>
        <td class="highlight">Curved Super AMOLED, 6.78 inches, 120Hz</td>
        <td class="highlight">200 MP + 12 MP + 12 MP +12MP</td>
        <td>4500 mAh</td>
        <td class="highlight">512 GB,UFS 4.0</td>
        <td class="highlight">45Watt</td>
        <td class="highlight">Snapdragon 8Gen2</td>
        <td class="highlight">BT v5.3 Wifi 6E</td>
        <td>8</td>
        <td>Yes,Yes,No</td>
        <td>13</td>
        <td class="highlight">4 android version + 5 years of security patch</td>
        <td>₹139,000</td>
      </tr>
      <tr>
        <td>Moto G82 5G</td>
        <td>Poled, 6.67 inches, 120Hz</td>
        <td>12 MP + 12 MP + 12 MP</td>
        <td class="highlight">5000 mAh</td>
        <td>128 GB,UMCP</td>
        <td>33Watt</td>
        <td>Snapdragon 695</td>
        <td>BT v5.0 Wifi 5.0</td>
        <td>10</td>
        <td class="danger">No,No,No</td>
        <td>12</td>
        <td class="danger">1 android version + 3 years of security patch</td>
        <td>₹19,999</td>
      </tr>
    </tbody>
  </table>
