.design{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.center{
    text-align: center;
    color: purple;
}
.format{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}